html{
  font-size: 1.1rem;
  font-weight: normal;
  font-family: 'Gowun Dodum', sans-serif;
  -webkit-text-stroke: 0.2px;
}

body{
  box-sizing: border-box;
  line-height: 20px;
}
header,nav,footer{
  padding: 0px 150px;
}
.main-contents{
  padding: 0px 100px;
}

.inner {
  position : relative;
}